@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
  }

.top-header {
    box-shadow:none;
    background-color: #111;
    padding: .5%;
}

.top-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    margin-right: 5%;
    transition: all .6s; /* Transition Affect */
}

.top-menu a {
    font-size: 18px;
    letter-spacing: 0.10px;
    line-height: 10px;
    color: #FFF;
}

.top-menu a:hover {
    color: #333333; /* Changes color when hovering above element */
}

.logo {
    margin-left: 2%;
}

.logo a {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #FFF;
}

.profile-pic {
    width: 220px;
    height: 230px;
    border-radius: 50%;
    box-shadow: 0px 4px 6px 2px lightgrey;
}

#mainNav {
    transform: translateX(100%); 
    transition: transform 0.8s ease;
  }
  
#mainNav.slideIn {
    transform: translateX(0);
}

.menu-toggle {
    display: none;
}

.mobile-menu {
    display: none;
}

.title-container {
    width: 100%;
    background-color: #D2B48C;
    padding: 40px 50px;
}

.title-container h1 {
    font-size: 36px;
}

.container {  
    display: flex;
    justify-content: center; 
}

.space {
    padding: 100px;
}

.left-div, 
.right-div {
  margin-right: -10px; 
}

.left-div {
    width: 25%;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.left-div h2 {
    font-size: 30px;
    padding-bottom: 15px;
}

.left-div p {
    font-size: 16px;
    padding-bottom: 20px;
}
  
.right-div {
    width: 65%; 
    padding: 20px;
    border-radius: 5px; 
}

#contact-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  #contact-form > div {
    margin-bottom: 15px; 
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;  
  } 
  
  button[type="submit"] {
    width: 100px;
    padding: 10px;
    border-radius: 50px; 
    background: #111;
    color: #fff;
    border: none;
    cursor: pointer;
  }


.footer-container {
    height: 70%;
    width: 100%;
    padding: 10px 50px;
}

/* Decoration */

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.no_link {
    text-decoration: none; /* Removes Link mark, bulletpoints, etc. */
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
    justify-content: space-between;
}

.justify-between {
    justify-content: space-between;
}

.border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.125);
}

.bg-gray {
    background-color: #f5f8fa;
}

/* Mobile version styles */
@media (max-width: 768px) {
    .desktop-menu {
        display: none;
    }

    .logo a {
        font-size: 32px;
    }

    .menu-toggle {
        font-size: 24px;
        cursor: pointer;
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top-menu.mobile-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%; /* Set the mobile menu to occupy the full height of the viewport */
        position: fixed;
        top: 0;
        left: 0;
        background-color: #111;
        z-index: 999; /* Make sure the menu is on top of everything else */
        transform: translateY(-100%); /* Slide the menu off the screen initially */
        transition: transform 0.4s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top-menu.mobile-menu.show-mobile-menu {
        transform: translateY(0); /* Slide the menu into view when active */
    }

    .top-menu.mobile-menu a {
        font-size: 18px;
        letter-spacing: 0.10px;
        line-height: 10px;
        color: #FFF;
        display: block;
        padding: 10px 20px;
    }

    .top-menu.mobile-menu a:hover {
        color: #333333;
    }

    .space {
        display: none;
    }
    
    .container {
        flex-direction: column;
    }

    .left-div,
    .right-div {
        width: 100%;

        text-align: center;
    }

}